<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Product: <%= product.name %></h1>
    <form action="/products/<%= product.id %>?_method=PUT" method="post">
        <label for="name">Product Name</label><br>
        <input type="text" name="name" id="name" value="<%= product.name %>"><br>
        <label for="price">Price(Unit)</label><br>
        <input type="number" name="price" id="price" value="<%= product.price %>"><br>
        <label for="category">Category</label><br>
        <select name="category" id="category">
            <option value="fruits">fruits</option>
            <option value="vegetables">vegetables</option>
            <option value="dairy">dairy</option>
            <option value="poultry">poultry</option>
        </select>
        <button type="submit">Add Product</button>
    </form>
    <a href="/products/<%= product._id %>">Cancel</a>
</body>
</html>