<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <h1><%= product.name %> DETAILS</h1>
    <ul style="list-style-type: none; font-size: 20px;">
        <li>NAME: <%= product.name %></li>
        <li>PRICE: $<%= product.price %></li>
        <li>CATEGORY: <%= product.category %></li>
    </ul>
    <a href="/products">Back to all products</a>
    <a href="/products/<%= product._id %>/edit">Edit Product</a>
    
</body>
</html>